@import './variables.scss';

nav {
    .navbar-header span {
        margin-right: $margin-small;
    }
}
.navbar-form {
    text-align: right;

    span + a {
        margin-left: $margin-small;
    }
}