@import './variables.scss';
@import './blocks/carousel.scss';
@import './blocks/nav.scss';
@import './blocks/cart.scss';
@import './blocks/details.scss';
@import './blocks/footer.scss';

html {
  height: 100%;
}

body {
  background-color: $primary-color-light;
  color: $primary-color-text;
  min-height: 100%;
  position: relative;

  a, p, h1, h2, h3, li {
    color: $primary-text-color;
  }

  a, p, li {
    font-size: $fs-small;
  }

  h1, .panel-heading {
    font-size: $fs-large
  }

  h2 {
    font-size: $fs-medium;
  }

  a:hover {
    color: $primary-text-color;
    text-decoration: underline;
    cursor: pointer;
  }
}

#bookstore-app {
  & > .container {
    padding-top: $padding-medium;
    padding-bottom: 80px;
  }

  .panel {
    .panel-heading {

    }
  }
}