@import './variables.scss';
@import './blocks/carousel.scss';
@import './blocks/nav.scss';
@import './blocks/footer.scss';

html {
  height: 100%;
}

body {
  background-color: $primary-color-light;
  color: $primary-color-text;
  min-height: 100%;
  position: relative;

  a {
    color: $primary-color-text;
  }

  a:hover {
    color: $primary-color-text;
    text-decoration: underline;
  }
}

#bookstore-app {
  & > .container {
    padding-bottom: 80px;
  }
}