/* COLORS */
$primary-color:        #03A9F4;
$primary-color-dark:   #0288D1;
$primary-color-light:  #B3E5FC;
$primary-color-text:   #FFFFFF;
$accent-color:         #8BC34A;
$accent-color-hover:   #78af49;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$divider-color-light:  #d1d1d1;
$alert-color:          #d9534f;

/* FONT SIZES */
$fs-default: 16px;
$fs-tiny: $fs-default / 1.25;
$fs-small: $fs-default / 1.15;
$fs-medium: $fs-default * 1.2;
$fs-large: $fs-default * 1.5;

/* MARGINS */
$margin-small: 10px;

/* PADDINGS */
$padding-small: 5px;
$padding-medium: $padding-small * 2;
$padding-large: $padding-medium *2;

/* THUMBNAIL */
$thumb-max-size: 275px;