/* COLORS */
$primary-color:        #03A9F4;
$primary-color-dark:   #0288D1;
$primary-color-light:  #B3E5FC;
$primary-color-text:   #FFFFFF;
$accent-color:         #8BC34A;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

/* MARGINS */
$margin-small: 10px;

/* PADDINGS */
$padding-small: 5px;
$padding-medium: 10px;

/* CAROUSEL */
$carousel-bg-color: red;