<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.pageData.title %></title>
</head>
<body>
    <div id="<%= htmlWebpackPlugin.options.pageData.react.router %>"></div>
</body>
</html>