@import '../variables.scss';

.carousel {
  .carousel-inner {
    padding: $padding-large;
  }

  .item {
    transition: transform .5s ease-in;
    
    &.next, &.next.left {
      top: $padding-large;
    }

    img {
      float: left;
      width: 10%;
    }

    a, a:hover {
      text-decoration: none;
    }

    .carousel-caption {
      text-align: left;
      position: relative;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 90%;
      margin-left: 10%;
      padding-left: $padding-medium;

      h3 {
        display: inline-block;
        padding: $padding-medium;
      }

      p {
        padding: $padding-small;
      }

      h3, p {
        background-color: $primary-color;
        color: $primary-color-text;
        margin: 0;
      }
    }
  }

  @media (max-width: 767px) {
    .carousel-inner .item {
      img {
        display: none;
      }

      .carousel-caption {
        max-width: 100%;
        margin: 0;
        padding: 0;
      }
    }
  }
}