@import '../variables.scss';

.modal-dialog {
  .modal-header {
    background-color: $accent-color;

    > button {
      opacity: .9;
      color: $primary-color-text;
    }
  }

  .modal-footer {
    text-align: center;
  }
}