@import '../variables.scss';

#bookstore-app > nav {
  margin-bottom: 0;
  background-color: $primary-color-dark;
  border-color: $divider-color;

  .navbar-header span {
    margin-right: $margin-small;
  }

  .navbar-form {
    text-align: right;

    .input-group-btn > button {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  & a, a > span, button {
    color: $primary-color-text;
  }

  & input {
    border-color: #B3E5FC;
  }

  & .btn-default {
    background-color: $primary-color-text;
    color: $primary-color-dark;
    border-color: #B3E5FC;
  }

  @media (min-width: 768px) {
    .navbar-collapse, .navbar-form {
      padding-right: 0;
    }

    .navbar-form {
      span + a {
        margin-left: $margin-small;
      }
    }
  }

  @media (max-width: 767px) {
    .navbar > .container {
      position: relative;
    }

    .navbar-toggle {
      background-color: $primary-color-text;
      min-width: 40px;
      border-color: $divider-color;
      
      .icon-bar {
        width: 20px;
        margin-right: 0;
        background-color: $primary-color-dark;
      }
    }

    .navbar-form, .navbar-collapse {
      border: none;
      margin: 0;
    }

    .navbar-collapse {
      padding: 0;
    }

    .navbar-form {
      padding: 10px 0;
    }

    .menu-cart-button {
      margin: 0;

      button {
        margin: $margin-small 0;
        width: 100%;
      }
    }
  }
}